{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<!--Hero-->

<section class="">
    <div class="container pt-4 pt-xl-5" style="height: 580px;">
        <div class="row g-0 pt-5" style="margin-bottom: 0px;padding-bottom: 0px;padding-top: 24px;margin-top: 37px;margin-left: -38px;padding-left: 0px;padding-right: 0px;margin-right: 122px;">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto" style="padding-left: 0px;margin-left: -39px;padding-right: 0px;">
                <div class="text-center">
                    <h1 class="fw-bold" style="text-align: left;padding: 0px;margin: 0px;margin-right: 10px;padding-left: 18px;margin-left: 15px;">A la recherche du bon service de réparation mécanique ?<br /><br /></h1><button class="btn btn-primary" type="button" style="padding-top: 10px;margin-bottom: 46px;margin-top: 42px;margin-left: 20px;margin-right: 20px;">CONTACTER</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Service Cards -->
<section class="service_cards container-fluid">
    <div class="container text-center">
        <div class="row">
        {# {% for card in cards %}
            
            {% include "partials/service_cards.html.twig" %};
            
        {% endfor %} #}
        
        </div>
    </div>
    </div>
</section>

<section>
    <div class="services" id="services">
        <ul class="list-group">
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                Cras justo odio
                <span class="badge bg-primary rounded-pill">14</span>
            </li>
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                Dapibus ac facilisis in
                <span class="badge bg-primary rounded-pill">2</span>
            </li>
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                Morbi leo risus
                <span class="badge bg-primary rounded-pill">1</span>
            </li><li class="list-group-ite info d-flex justify-content-between align-items-center">
                Cras justo odio
                <span class="badge bg-primary rounded-pill">5</span>
            </li>
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                Dapibus ac facilisis in
                <span class="badge bg-primary rounded-pill">4</span>
            </li>
            <li class="list-group-item list-group-item-lightd-flex justify-content-between align-items-center">
                Morbi leo risus
                <span class="badge bg-primary rounded-pill">9</span>
            </li>
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                Morbi leo risus
                <span class="badge bg-primary rounded-pill">8</span>
            </li>
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                Morbi leo risus
                <span class="badge bg-primary rounded-pill">0</span>
            </li>
        </ul>
    </div>
</section>

{% endblock %}
