{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<!--Hero-->

<section class="hero">
    <div class="container pt-4 pt-xl-5" style="background-image: url('assets/images/Hero.png'); background-size: cover; background-position: center; height: 580px;">
        <div class="row g-0 pt-5" style="margin-bottom: 0px;padding-bottom: 0px;padding-top: 24px;margin-top: 37px;margin-left: -38px;padding-left: 0px;padding-right: 0px;margin-right: 122px;">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h1 class="fw-bold text-white" style="text-align: left;padding: 0px;margin: 0px;margin-right: 10px;padding-left: 18px;margin-left: 15px;">A la recherche du bon service de réparation mécanique ?<br /><br /></h1>
                    <button class="btn btn-primary" type="button" style="padding-top: 10px;margin-bottom: 46px;margin-top: 42px;margin-left: 20px;margin-right: 20px;">CONTACTER</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Service Cards -->
<section class="cards container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 align-items-stretch g-4 py-5">
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/images/Card1.png'); background-size: cover; background-position: center;">
        </div>
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <div class="d-flex list-unstyled mt-auto">
                <img src="assets/icons/chain.svg" alt="Bootstrap" width="32" height="32">
            </div>
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h3>
        </div>
    </div>
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/images/Card1.png'); background-size: cover; background-position: center;">
        </div>
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <div class="d-flex list-unstyled mt-auto">
                <img src="assets/icons/chain.svg" alt="Bootstrap" width="32" height="32">
            </div>
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
        </div>
    </div>
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/images/Card1.png'); background-size: cover; background-position: center;">
        </div>
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <div class="d-flex list-unstyled mt-auto">
                <img src="assets/icons/chain.svg" alt="Bootstrap" width="32" height="32">
            </div>
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
        </div>
    </div>
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/images/Card1.png'); background-size: cover; background-position: center;">
        </div>
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <div class="d-flex list-unstyled mt-auto">
                <img src="assets/icons/chain.svg" alt="Bootstrap" width="32" height="32">
            </div>
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
        </div>
    </div>

</section>

<div class="b-example-divider"></div>

<section class="container" id="services">
    <div class="d-flex-column justify-content-center">
        <ul class="list-group">
            {% for service in services %}
                
            <li class="list-group-item list-group-item-light">
                <div class="text-primary">{{ service.name }}</div>
                <div>{{ service.description }}</div>
            </li>
            {% endfor %}

        </ul>
    </div>   
</section>

<div class="b-example-divider"></div>

<section class="container pt-4 pt-xl-5 text-white">
    <div class="row row-cols-1 row-cols-lg-2 py-5 text-center">
        <div class="col mx-auto lead">
            <h1 class="text">Les nombreux services de réparation automobile que nous vous offrons</h1>
            <div>
                <img src="assets/icons/calendar.svg" alt="icon calendrier">
                <button class="btn btn-primary mx-2 mt-3"> PRENDRE UN RENDEZ-VOUS</button>
            </div>
        </div>
        <div class="col mx-auto mt-5">
            <p>
                Rencontrez l'équipe de mécaniciens qualifiés avec plus de 5 ans d'expérience immaculée dans l'industrie de la réparation automobile ! Nous n'utilisons que des pièces de première qualité et nous nous efforçons de rendre vos voyages sûrs et confortables ! Nous sommes toujours heureux de vous aider dans ces tâches.    
            </p>
        </div>
    </div>
</section>
    
<section class="container pt-4 pt-xl-5 text-white">
    <div class="row row-cols-1 row-cols-lg-2 py-5 text-center">
        <div class="col">
            <h1 class="text">A la recherche d’une nouvelle voiture?</h1>
            <img src="assets/images/catalog.jpg" alt="Image de voitures" width="500vw">
        </div>
        <div class="col mt-5">
            <div class="col mt-5 mx-auto lead">
                <h1>
                    Trouvez la voiture parfaite    
                </h1>
                <ul>
                    <li><img src="assets/icons/star.svg" alt="icon star">Voitures reconditionnées et garanties</li>
                    <li><img src="assets/icons/star.svg" alt="icon star">Financement complet ou partiel</li>
                    <li><img src="assets/icons/star.svg" alt="icon star">Possibilité d'essai avant l'achat</li>
                    <li><img src="assets/icons/star.svg" alt="icon star">Offre de reprise toutes marques</li>
                </ul>
                <button class="btn btn-primary mt-5"> PRENDRE UN RENDEZ-VOUS</button>
            </div>
        </div>
    </div>
</section>
<section class="comments">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 justify-content-center g-4 py-5">
        <div class="card col mx-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card col mx-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card col mx-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}